@import '../../assets/styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.logo {
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: $baby-blue;
  margin-left: 1rem;
}

button {
  padding: .8rem;
  font-size: 2rem;
  line-height: 2.8rem;
  color: $dark-grey;
  border-radius: .3rem;
  background: $grey-blue;
  outline: none;
  &:hover {
    background: $white;
    border: none;
  }
}
