@import '../../assets/styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.logo {
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: $baby-blue;
  margin-left: 1rem;
}
