@import '../../assets/styles/variables';

.main-channels {
  width: 20%;
  padding: 3rem;
  //-ms-overflow-y: scroll;
  //overflow-y: scroll;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__names {
    margin-top: 2rem;
    word-break: break-word;
  }

}
