@import '../../assets/styles/variables';

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $transparent-grey;
  pointer-events: none;
  animation-name: opacity;
  animation-duration: 800ms;

  &__content {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 70rem;
    padding: 2rem;
    border-radius: .3rem;
    background: $bg-primary;
    animation-name: scale;
    animation-duration: 600ms;
  }

  &--shown {
    pointer-events: all;
  }
  .wrap {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    display: inline-flex;
  }

  &__text {
    font-size: 2.3rem;
    line-height: 3.5rem;
    padding: 1rem;
  }

}

@keyframes opacity {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes scale {
  from{
    transform: scale(0.5);
  }
  to{
    transform: scale(1);
  }
}
