@import '../../assets/styles/variables';

.input {
  width: 100%;
  padding: 1.6rem;
  margin-top: 1rem;
  font-size: 2rem;
  line-height: 2.8rem;
  border: none;
  border-bottom: 1px solid $light-blue-77;
  &:focus {
    outline: none;
  }
  &--error {
    border-bottom: 1px solid $salmon-pink;
  }
}
