@import '../../assets/styles/variables';

.main {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;

  &__wrap {
    display: flex;
    justify-content: center;
    width: 120rem;
    max-width: calc(100% - 4rem);
    height: 100%;
    background: $bg-secondary;
  }
}

.chat-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  bottom: 0;
}
