@import '../../assets/styles/variables';

.channel {
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 2.8rem;
    &--active {
      .channel-item__link {
        font-weight: $black;
        color: $salmon-pink;
      }
    }
  }

  &__drop-down {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 18rem;
    top: 0;
    left: 2.8rem;
    z-index: 12;
    padding: 1rem;
    background: $bg-primary;
    //opacity: 0;
    //transform: scale(0.5);
    //transition: 0.4s all;
    &--click {
      cursor: pointer;
    }
  }
  &--shown {
    //opacity: 1;
    ////pointer-events: all;
    //transform: scale(1);
  }


}

