@import '../../assets/styles/variables';

.channel {
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 2.8rem;

    &--active {
      .channel-item__link {
        font-weight: $black;
        color: $salmon-pink;
      }
    }
  }
}

