@import '../../assets/styles/variables';

.dropdown-menu {
  color: $font-base;
  box-shadow: 0 2px 2px rgba(0,0,0,.075);
  cursor: pointer;

  &-content {
    background: $bg-secondary;
    padding: 0;
    &__item {
      cursor: pointer;
      padding: 0.6rem 1rem;
      font-size: 1.7rem;
      line-height: 1.4;
      text-align: left;
      width: 100%;
      transition: background-color 0.2s;
      &:hover {
        background: $bg-secondary-hover;
      }
    }
  }
  .tippy-content {
    background: $bg-secondary;
    padding: 0;
  }
}
