@import '../../assets/styles/variables';

.dropdown-menu {
  color: $font-base;
  box-shadow: 0 2px 2px rgba(0,0,0,.075);
  cursor: pointer;

  &-content {
    background: $bg-secondary;

    &__item {
      //background: $bg-primary;
    }
  }
  .tippy-content {
    background: $bg-secondary;
  }
}
