//--------sizes------------
$wrap: 111rem;

//--------color------------
$bg-primary: #f9fafb;
$font-base: #353844;
$bg-secondary: #eeeeee;
$white: #ffffff;
$light-blue: #6e9c9f;
$light-blue-10: rgba(110, 156, 159, 0.1);
$light-blue-77: rgba(110, 156, 159, 0.77);
$baby-blue: #509498;
$grey: #d4d4d4;
$grey-blue: #cededf;
$light-grey: rgba(110, 156, 159, 0.1);
$dark-grey: #868686;
$silver: #d1d1d1;
$dark-beige: #998e78;
$swamp: #998e78;
$bone: #f1eadc;
$saffron: #fdc796;
$salmon-pink: #fd9696;
$taupe-grey : #927876;

//--------font-size------------
$black: 900;
$bold: 700;
$medium: 500;
$regular: 400;

//--------other------------
$border: 1px solid red;
