@import 'reset';
@import 'variables';
@import 'fonts';
@import 'mixin';

//---------------base styles---------------
html {
  height: 100%;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg_3.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  font-family: 'ralewaymedium', sans-serif;
  font-weight: $medium;
  color: $font-base;
  letter-spacing: 0.2rem;
}

.root {
  height: 100%;
}

a {
  display: inline-block;
  position: relative;
  color: $light-blue-77;
  cursor: pointer;
}

img {
  object-fit: contain;
}

h1 {
  font-size: 3.5rem;
  line-height: 7.8rem;
}

h2 {
  font-size: 3rem;
  line-height: 1.1;
}

h3 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.8rem;
}

p,
div {
  font-size: 1.7rem;
  line-height: 1.4;
}

.shadow {
  border: 1px solid rgba(0,0,0,.07);
  box-shadow: 0 2px 2px rgba(0,0,0,.075);
}

/* W3C standard
   сейчас только для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $light-blue-10 $bg-primary;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: $bg-primary;
}
*::-webkit-scrollbar-thumb {
  background-color: $light-blue-10;
  border-radius: 5px;
  border: 3px solid $bg-primary;
}

//---------------***---------------
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}
