@import '../../assets/styles/variables';

.message {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  padding: 1rem;
  margin-top: 1rem;
  background: $white;
  border-top-right-radius: 2rem;

  &__username {
    margin-right: 1rem;
    font-weight: $black;
  }
  &--user {
    margin-left: auto;
    background: $light-blue-10;
  }
}
